# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# 환경 설정
.env
.env.*

# 가상환경
venv/
env/
.venv/

# 로그 및 백업
logs/
*.log
*.bak
*.swp
*.tmp
*.db

# 파이썬 빌드
*.egg-info/
build/
dist/

# 시스템
.DS_Store
Thumbs.db
